@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
	--black-color: black;
	--white-color: white;
}
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	font-family: sans-serif;
	background-color: var(--black-color);
}
.ex {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: var(--black-color);
	animation: fadeInAnimation ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
.ring {
	display: flex;
	align-items: center;
	justify-content: center;
}
.imgName > h1 {
	margin-top: 2rem;
	text-align: center;
	font-family: system-ui;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 100;
	line-height: 33px;

	background: linear-gradient(360deg, #e0e1ec 0%, #e0e1ec 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ex > .ring > img {
	vertical-align: middle;
	max-width: 100%;
	width: 80%;
}
.imgName > img {
	max-width: 100%;
}
.imgName > p {
	margin-top: 6rem;
	margin-bottom: 2rem;
	text-align: center;
	font-family: system-ui;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 100;
	line-height: 33px;
	background: linear-gradient(360deg, #e0e1ec 0%, #e0e1ec 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#main {
	position: relative;
	overflow: hidden;
	background-color: var(--black-color);
}
#page,
#page1,
#page2,
#page3,
#page4 {
	height: 100vh;
	width: 100vw;
	background-color: var(--black-color);
}
canvas {
	position: relative;
	z-index: 9;
	height: 100vh;
	width: 100vw;
}
/* nav  */
.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.3rem;
	z-index: 10;
	background-color: transparent;
}
.logo > img {
	max-width: 9rem;
	padding-left: 1rem;
	height: auto;
	width: auto;
}
.hamburger {
	padding-right: 20px;
	cursor: pointer;
}
.hamburger .line {
	display: block;
	width: 38px;
	height: 4px;
	border-radius: 3rem;
	margin-bottom: 6px;
	background-color: rgb(255, 255, 255);
}
.nav__link {
	position: fixed;
	width: 94%;
	top: 5rem;
	left: 18px;
	background-color: var(--black-color);
}
.nav__link a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 10px 0;
}
.nav__link a:hover {
	background-color: rgb(105, 103, 103);
	color: var(--black-color);
	border-radius: 1rem;
}
.hide {
	display: none;
}

.btnBuy {
	margin-bottom: 2rem;
	animation: blink 1.8s infinite;
	padding: 1rem 2rem;
	border-radius: 3rem;
	font-size: 1rem;
	background-color: var(--white-color);
	color: var(--black-color);
	border: 0.1rem solid var(--white-color);
	margin-top: 1rem;
	z-index: 100;
}
.btnBuy:hover {
	background-color: var(--black-color);
	color: var(--white-color);
}
@keyframes blink {
	0% {
		box-shadow: 0 0 0 0 rgb(170, 163, 163);
	}
	65% {
		box-shadow: 0 0 0 1rem transparent;
	}
	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}
#page5 {
	position: absolute;
	height: 12vh;
	z-index: 10;
	width: 100vw;
	background-color: var(--black-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#page5 > h1 {
	font-weight: 100;
	bottom: 11rem;
	font-size: xxx-large;
	position: absolute;
	letter-spacing: 5px;
}
#page5 > p {
	font-weight: 100;
	bottom: 7rem;
	font-size: xx-large;
	position: absolute;
}
#page5 > p > span {
	font-weight: 900;
}
.pass > h1 {
	margin-top: 1rem;
}
.hidden {
	opacity: 0;
	transition: all 1s;
	filter: blur(0.5rem);
	transform: translateX(-100%);
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}
#page4 {
	position: relative;
	z-index: 10;
}
#mainCard {
	margin-top: 8rem;
}
#info {
	display: flex;
	align-items: center;
	justify-content: center;
}
#card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 2rem;
}
.imgCard {
	border-right: 0.01rem solid white;
	padding-right: 5rem;
}
.imgCard > img {
	max-width: 100%;
}
.cardLe > p {
	padding-top: 2rem;
}

@media screen and (min-width: 621px) {
	.nav__link {
		display: block;
		position: static;
		width: auto;
		margin-right: 20px;
		background: none;
	}

	.nav__link a {
		display: inline-block;
		padding: 10px 20px;
	}

	.hamburger {
		display: none;
	}
}
@media screen and (max-width: 621px) {
	.nav__link {
		background-color: #000000;
		height: 100vh;
	}
	#card {
		flex-direction: column-reverse;
	}
	.imgCard > img {
		border-top: 0.01rem solid white;
		margin: 1rem 0rem 0rem 2rem;
		padding-top: 2rem;
	}
	.cardLe > p {
		font-size: 1rem;
		padding: 0rem 0rem 1rem 1rem;
	}
	#info > h1 {
		font-size: 1.5rem;
	}
	#page5 > h1 {
		font-size: 1.5rem;
	}
	#page5 > p {
		font-size: 1.2rem;
	}
}
